@(title: String, action: String, formData: Form[models.Allergy], url: play.api.mvc.Call)

@import helper._
@import views.html.admin.helper._

@views.html.admin.main(action + " " + title){
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    @mybreadcumb(title, "Customer")

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            @myalert()

            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">@action @title</h3>
                    </div>
                    @form(url, 'role->"form", 'id->"form-save", 'enctype -> "multipart/form-data") {
                    <div class="box-body">
                        @mytext(formData("id"), "", "", "hidden")
                        @mytext(formData("name"), "Name *")
                    </div>
                    <div class="box-footer">
                        @mybutton(controllers.admin.routes.AllergyController.index(), action.equalsIgnoreCase("add"))
                    </div>
                    }
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
}
<script type="text/javascript">
$(document).ready(function() {
    $('#box-add-image').hide();

    $('#addimage').on('click', function() {
        if($('#box-add-image').is(":visible")){
            $('#box-add-image').hide();
            $('#addimage').text('Show Image');
        }else{
            $('#box-add-image').show();
            $('#addimage').text('Hide Image');
        }
    });

    $("#form-save").validate({
        ignore: [],
        rules: {
            name: "required"
        },
        messages: {
            name: "name is required"
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            $(element).remove();
        },
        errorPlacement: function (error, element) {
            if(element.is('select')) {
                element.next().after(error);
            }
            else if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else error.insertAfter(element);
        },
        submitHandler: function(form) {
            MyApp.loadingOverlay.show();
            form.submit();
        }
    });
});

var loadFile = function(event, previewId, fileId) {
    var output = document.getElementById(previewId);
    output.src = URL.createObjectURL(event.target.files[0]);
    var $img = $('#'+previewId);
    $img.on('load', function(){
        var imageWidth = $(this).prop('naturalWidth');
        var imageHeight = $(this).prop('naturalHeight');
        $('#'+fileId).removeData('imageWidth');
        $('#'+fileId).removeData('imageHeight');

        $('#'+fileId).data('imageWidth', imageWidth);
        $('#'+fileId).data('imageHeight', imageHeight);
    });
};

</script>
