@(title: String, action: String, data: models.PurchaseOrder)

@import com.enwie.util.CommonFunction
@import views.html.admin.helper._

@views.html.admin.main(action + " " + title){
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    @mybreadcumb(title, "Distributor")

      <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
      <div class="row">

        @myalert()

        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">@action @title</h3>
            </div>
            <form class="form-horizontal col-xs-12">
              <div class="form-group">
                <label class="col-sm-2">PO ID</label>
                <div class="col-sm-10">
                @data.code
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">Distributor</label>
                <div class="col-sm-10">
                @data.distributor.fullName
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">Total</label>
                <div class="col-sm-10">
                @CommonFunction.currencyFormat(data.total, "Rp")
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">Received</label>
                <div class="col-sm-10">
                @CommonFunction.getDate2(data.receivedAt)
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">Information</label>
                <div class="col-sm-10">
                @data.information
                </div>
              </div>
            </form>
            <div class="box-body">
              <table id="listTables" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Sub Total</th>
                  </tr>
                </thead>
                <tbody>
              </table>
            </div>
            <div class="box-footer">
              <a class="btn btn-default" href="@controllers.admin.routes.OrderResellerController.index()">Back</a>
            </div>
          </div>
        </div>
      </div>

    </section>
      <!-- /.content -->
  </div>
}

<script type="text/javascript">
        var table;
        $(document).ready(function(){
          table = $("#listTables").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
              "url": "@controllers.admin.routes.OrderResellerController.listsProductDetail(data.id)",
            },
            columnDefs : [
              { targets: 0, sortable: false, width: "20px"},
              { targets: 1, sortable: false},
              { targets: 2, sortable: false},
              { targets: 3, sortable: false},
              { targets: 4, sortable: false}
            ]
          });
          $('#listTables_filter').hide();

          oTable = $('#listTables').DataTable();

          $('#listTables_length').hide();

        });


</script>