@(title: String, action: String, data: UserCms)

@import views.html.admin.helper._
@views.html.admin.main(action + " " + title){
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">@action @title</h3>
                    </div>
                    <form >
                        <div class="box-body">
                            @mylabel("Fisrt Name", data.firstName)
                            @mylabel("Last Name", data.lastName)
                            @mylabel("Full Name", data.fullName)
                            @mylabel("Email", data.email)
                            @mylabel("Phone", data.phone)
                            @mylabel("Gender", data.getGenderView())
                            @mylabel("Birth Date", data.getBirthDateFormat())
                            @mylabel("Role", data.role.name)
                            @mylabel("Status", data.getIsActive())
                        </div>
                    </form>
                    <div class="box-footer">
                        <a class="btn btn-success" href="@controllers.admin.routes.UserController.changePassword()">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
}
<script type="text/javascript">
$(document).ready(function() {

    $("input[type=checkbox]").prop("disabled", true);

});
</script>