@(title: String, action: String, formData: Form[models.Category], url: play.api.mvc.Call, listsBaseAttribute: Map[Integer, String])

@import helper._
@import views.html.admin.helper._

@views.html.admin.main(action + " " + title){
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    @mybreadcumb(title, "Master Products")

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            @myalert()

            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">@action @title</h3>
                    </div>
                    @form(url, 'id->"form-save", 'role->"form", 'enctype -> "multipart/form-data") {
                    <div class="box-body">
                        @mytext(formData("id"), "", "", "hidden")
                        @mytext(formData("parent"), "", "", "hidden")
                        @mytext(formData("level"), "", "", "hidden")
                        @if(formData("parent").value.toInt > 0){
                            @mylabel("Category Name", formData("parentName").value)
                            @mytext(formData("name"), "Sub Category Name")
                        }else{
                            @mytext(formData("name"), "Category Name *")
                        }
                        @mytext(formData("title"), "Meta Title *")
                        @mytext(formData("keyword"), "Meta Keyword *")
                        @mytext(formData("description"), "Meta Description *")
                        @if(formData("level").value.equals("3")){
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Base Attribute *</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select id="baseattribute" name="base_attribute_list[]" class="form-control" data-placeholder="Please select base attribute">
                                            @for((k,v) <- listsBaseAttribute){<option value="@k" >@v</option>}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @mytoglecheckbox(formData("isActive"), "Status")
                    </div>
                    <div class="box-footer">
                        @mybutton(controllers.admin.routes.CategoryController.index(), action.equalsIgnoreCase("add"))
                    </div>
                    }
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
}
<script>
    $(document).ready(function () {

    });

$(document).ready(function() {
    @if(formData("level").value.equals("3")){
        $("#baseattribute").select2({
            multiple:true,
            ajax: {
                url: "/admin/masterproducts/attribute/listsBaseAttributeForSelect",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: function (data) {
                return data.name;
            },
            templateSelection:function (data) {
                return data.name || data.text;
            }
        });
        var arrAttribute = [];
        $("#baseattribute option").each(function()
        {
            arrAttribute.push($(this).val());
        });
        if(arrAttribute.length > 0){
            $('#baseattribute').val(arrAttribute).trigger("change");
        }
    }

    $.validator.addMethod("valueNotEquals", function(value, element, arg){
        return arg != value;
    }, "Value must not equal arg.");
    $('button[name="save"]').on('click', function() {
        $("#form-save").validate();
    });
    $("#form-save").validate({
        ignore:[],
        rules: {
            name: "required",
            title: "required",
            keyword: "required",
            description: "required"
            @if(formData("level").value.equals("3")){
                ,'base_attribute_list[]': {required: true}
            }
        },
        messages: {
            name: "Name is required",
            title: "Title is required",
            keyword: "Keyword is required",
            description: "Description is required"
            @if(formData("level").value.equals("3")){
                ,'base_attribute_list[]': {required: "Base attribute is required"}
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            $(element).remove();
        },
        errorPlacement: function (error, element) {
            if(element.is('select')) {
                element.next().after(error);
            }
            else if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else error.insertAfter(element);
        },
        submitHandler: function(form) {
            MyApp.loadingOverlay.show();
            form.submit();
        }
    });
});
$('#title').on('change', function(){
	$('#keyword').val($(this).val());
	$('#description').val($(this).val());
})
</script>