<!--<div id="messages-div">-->
    <!--@if(flash.containsKey("success")) {-->
    <!--<div class="alert alert-success">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
        <!--@flash.get("success")-->
    <!--</div>-->
    <!--}-->
    <!--@if(flash.containsKey("error")) {-->
    <!--<div class="alert alert-danger">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
        <!--@flash.get("error")-->
    <!--</div>-->
    <!--}-->
<!--</div>-->