@(field: Field, label: String = "", lists: Map[Integer, String], style : String = "col-md-4 col-sm-8 col-xs-12", showEmpty : Boolean = true, emptyValue : String = "0")

<div class="form-group @style @if(field.hasErrors) {has-error}">
    <label for="@field.id">@label</label>
    <div class="row">
        <div class="col-xs-12">
            <select id="@field.id" name="@field.name" class="form-control select2" style="width: 100%;">
                @if(showEmpty){<option value=@emptyValue selected="selected"></option>}
                @for((k,v) <- lists){<option value="@k" @if(k==Integer.valueOf(field.value.getOrElse("0"))) {selected="selected"}>@v</option>}
            </select>
        </div>
    </div>
    <span class="help-block">@{field.error.map { error => error.message }}</span>
</div>