@(field: Field, label: String = "CHANGEME", placeholder: String = "", typeinput: String="text", style: String="")

<div class="form-group @style @if(field.hasErrors) {has-error}" id="div_@field.id">
    @if(typeinput.equals("text")) {<label id="lbl_@field.id">@label</label>}
    <input type="@typeinput"
           class="form-control input_currency"
           id="@field.id"
           name="@field.name"
           value="@field.value.getOrElse("")"
    placeholder="@placeholder" />
    <span class="help-block">@{field.error.map { error => error.message }}</span>
</div>
