@(title: String, action: String, formData: Form[models.Promotion], url: play.api.mvc.Call)

@import helper._
@import views.html.admin.helper._

@views.html.admin.main(action + " " + title +" | "){
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    @mybreadcumb("Promotion List", "Promotion")

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            @myalert()
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">@action @title</h3>
                    </div>
                    @form(url, 'role->"form", 'id -> "form-save", 'enctype -> "multipart/form-data") {
                    <div class="box-body">
                        @mytext(formData("name"), "Promotion Name *")
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-xs-12">
                                <label>From *</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="fromDate" value="@formData("fromDate").value" name="fromDate">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="form-group bootstrap-timepicker col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>&nbsp;</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control timepicker" value="@formData("fromTime").value" id="fromTime" name="fromTime">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-xs-12">
                                <label>To *</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="toDate" value="@formData("toDate").value" name="toDate">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="form-group bootstrap-timepicker col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>&nbsp;</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control timepicker" value="@formData("toTime").value" id="toTime" name="toTime">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            @myfile(formData("imageUrl"), "Image")
                        </div>
                        @mytextarea(formData("description"), "Description")
                    </div>
                    <div class="box-footer">
                        @mybutton(controllers.admin.routes.PromotionController.index(), action.equalsIgnoreCase("Generate"))
                    </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
}

<script type="text/javascript">
$(document).ready(function () {
    $('.select2').select2();
    $('.input_currency').autoNumeric('init');
    $('#div_maxValue').hide();
    $('#maxValue').val(0);
    $('#minPurchase').val(0);




    $('#fromDate').datepicker({
        autoclose: true,
        todayHighlight: true,
        dateFormat:'MM/dd/YYYY',
        minDate: "dateToday"
    });
    $('#toDate').datepicker({
        autoclose: true,
        todayHighlight: true,
        dateFormat:'MM/dd/YYYY',
        minDate: "dateToday"
    });
    $(".timepicker").timepicker({
        showInputs: false,
        showMeridian: false,
        showSeconds: true,
        minuteStep: 5,
        secondStep: 5
    });
});

</script>
<script type="text/javascript">
$(document).ready(function() {
    $.validator.addMethod("greaterThan",
        function(value, element, params) {

            if (!/Invalid|NaN/.test(new Date(value))) {
                return new Date(value) >= new Date($(params).val());
            }

            return isNaN(value) && isNaN($(params).val())
                || (Number(value) >= Number($(params).val()));
    },'Must be greater than {0}.');

    $.validator.addMethod("valueNotEquals", function(value, element, arg){
        return arg != value;
    }, "Value must not equal arg.");

    $.validator.addMethod("minimumAmt", function(value, element, arg){
        var v = $(element).autoNumeric('get');
        return v > arg;
    });

    $('button[name="save"]').on('click', function() {
        $("#form-save").validate();
    });

    var validator = $("#form-save").validate({
        ignore:[],
        rules: {
            name: "required",
            count : {
                required : true,
                number : true,
                min : 1
            },
            maxValue : {
                checkMaxValue : 0.01
            },
            minPurchase : {
                required : true,
                number : true,
                minimumAmt : 0.01
            },
            priority : {valueNotEquals : "0"},
            fromDate: {
                required: true,
                date: true
            },
            toDate: {
                required: true,
                date: true,
                greaterThan: "#fromDate"
            }
        },
        messages: {
            name: "Name is required",
            count : {
                required : "Count is required"
            },
            minPurchase : {
                required : "Minimum Purchase is required",
                minimumAmt : "Minimum purchase must greater than 0"
            },
            priority : {valueNotEquals : "Please select priority"},
            fromDate: {
                required: "From date is required"
            },
            toDate: {
                required: "To date is required",
                greaterThan: "To date must be greater than or equal from date"
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            $(element).remove();
        },
        errorPlacement: function (error, element) {
            if(element.is('select')) {
                element.next().after(error);
            }
            else if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else error.insertAfter(element);
        },
        submitHandler: function(form) {
            MyApp.loadingOverlay.show();
            $('.input_currency').autoNumeric('get');
            $('.input_currency').each(function(key, value) {
                $(value).val($(value).autoNumeric('get'));
            });
            form.submit();
        }
    });

    $('#fromDate').on('change', function(){
        $('#fromDate').valid();
    });

    $('#toDate').on('change', function(){
        $('#toDate').valid();
    });

    $('#div-product').hide();
});
</script>
