@(title: String, action: String, formData: Form[models.PaymentExpiration], url: play.api.mvc.Call, listsType: Map[String,String])

@import helper._
@import views.html.admin.helper._

@views.html.admin.main(action + " " + title +" | Hladal Admin Page"){
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    @mybreadcumb(title, "Preference")

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            @myalert()

            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">@action @title</h3>
                    </div>
                    @form(url, 'role->"form", 'id->"form-save") {
                    <div class="box-body">
                        @mytext(formData("id"), "", "", "hidden")
                        <div class="row">
                        @myselect2(formData("type"), "Type *", listsType)
                        </div>
                        <div class="row">
                        @mytext(formData("total"), "Total *", "Total", "text", "col-xs-4")
                        </div>
                    </div>
                    <div class="box-footer">
                        @mybutton(controllers.admin.routes.PaymentExpirationController.index(), action.equalsIgnoreCase("add"))
                    </div>
                    }
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
}
<script type="text/javascript">
$(document).ready(function() {
    $('.select2').select2();

    $('#type').on('change', function(){
        $('#type').valid();
    });

    $.validator.addMethod("valueNotEquals", function(value, element, arg){
          return arg != value;
         }, "Value must not equal arg.");

    $("#form-save").validate({
        ignore: [],
        rules: {
            total: {
                required: true,
                number: true,
                min: 1
            },
            type :{
                valueNotEquals : "-"
            }
        },
        messages: {
            total: "Total is required",
            type :{
                valueNotEquals : "Please select type"
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            $(element).remove();
        },
        errorPlacement: function (error, element) {
            if(element.is('select')) {
                element.next().after(error);
            }
            else if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else error.insertAfter(element);
        },
        submitHandler: function(form) {
            MyApp.loadingOverlay.show();
            form.submit();
        }
    });
});
</script>
