@(title: String, action: String, feature : models.RoleFeature)

@import views.html.admin.helper._
@views.html.admin.main(title){
<div class="content-wrapper">

    @mybreadcumb(title, "Information")

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="header pull-left">
                            <h3 class="box-title title-module">@action @title</h3>
                        </div>

                        <div class="add pull-right">
                            @if(feature.isAdd()){
                            <a class="btn btn-info btn-sm" href="@controllers.admin.routes.SocmedController.add()">
                                <i class="fa fa-plus"></i> New
                            </a>
                            }
                        </div>
                    </div>
                    <div class="box-body">
                        <form>
                            <div class="row">
                                <div class="col-xs-4 col-md-2">
                                    <select class="form-control" id="searchFilter" name="filter" >
                                        <option value="-1">All</option>
                                        <option value="3">Active</option>
                                        <option value="4">Inactive</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <select class="form-control col-md-3"id="action" name="action" >
                                        <option value="">Select Action</option>
                                        @if(feature.isEdit()){
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                        }
                                        @if(feature.isDelete()){
                                        <option value="delete">Delete</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                        <table id="listTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><input name="select_all" value="1" id="select-all" type="checkbox"></th>
                                    <th>ID</th>
                                    <th>Socmed Name</th>
                                    <th>Icon</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
@mymodaldelete("socmed")
}

<script type="text/javascript">
    var table;
    $(document).ready(function(){
        $('#action').hide();

       table = $("#listTable").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@controllers.admin.routes.SocmedController.lists()",
                "data": function(data) {
                    data.filter = $("#searchFilter").val();
                }
            },
            columnDefs : [
                {
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'sortable': false,
                    'className': 'dt-body-center',
                    'width': "20px",
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox" class="cb-action" name="id[]" value="' + $('<div/>').text(data).html() + '">';
                    }
                },
                {
                    'targets': 3,
                    'searchable': false,
                    'orderable': false,
                    'sortable': false,
                    'className': 'dt-body-center',
                    'width': "100px",
                    'render': function (data, type, full, meta){
                        return '<img src="'+ $('<div/>').text(data).html() +'" >';
                    }
                },
                { targets: 4, sortable: false, width: "47px"},
            ],
            order: [[ 1, "desc" ]],
            "fnDrawCallback": function() {
                $('.cb-status').bootstrapToggle();
                $('.cb-status').change(function() {
                    var val = [parseInt($(this).val())];
                    updateStatus(val, $(this).prop('checked') ? "active" : "inactive", false);
                })
            },
            language: {
                searchPlaceholder: "Search by name..."
            }
        });

        oTable = $('#listTable').DataTable();

        $('#listTable_length').hide();

        // Handle click on "Select all" control
       $('#select-all').on('click', function(){
          // Get all rows with search applied
          var rows = table.rows({ 'search': 'applied' }).nodes();
          // Check/uncheck checkboxes for all rows in the table
          //$('input[type="checkbox"]', rows).prop('checked', this.checked);
          $('.cb-action', rows).prop('checked', this.checked);
          if(this.checked){
            $('#action').show();
          }else{
            $('#action').hide();
          }
          //
       });

       // Handle click on checkbox to set state of "Select all" control

       $('#listTable tbody').on('change', '.cb-action', function(){
          // If checkbox is not checked
          if(!this.checked){
             var el = $('#example-select-all').get(0);
             // If "Select all" control is checked and has 'indeterminate' property
             if(el && el.checked && ('indeterminate' in el)){
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
             }
          }

          if(getSelectedIds() != ''){
            $('#action').show();
          }else{
            $('#action').hide();
          }
       });

       // Handle action change
       $('#action').on('change', function(){
            if($('#action').val() == "delete"){
                $('#modal-delete-socmed').modal('show');
                $("#socmed_id").val(getSelectedIds());
                $('.modal-title').html('Delete Socmed');
                $('.modal-body').html('Are you sure you want to delete these item?');
            }else if($('#action').val() == "active" || $('#action').val() == "inactive"){
                updateStatusAll($('#action').val());
            }
       });

       $('#searchFilter').on('change', function(){
            table.ajax.reload();
       });

       // Handle click on button yes
       $('.submit-delete').on('click', function() {
            var id = $("#socmed_id").val();
            $.ajax({
                url: "/admin/information/socmed/"+id+"/delete",
                type: 'DELETE',
                beforeSend: function() {
                    $('#modal-delete-socmed').modal('hide');
                    MyApp.loadingOverlay.show();
                },
                error: function(data ) {
                    resp = JSON.parse(data.responseText);
                    alert(resp.message);
                },
                success: function(resp) {
                    $('#action option[value=""]').prop('selected', true);

                    if(resp.meta.total != 0){
                        toastr["success"](resp.message, "Succes")
                        $('#action').hide();
                        table.ajax.reload();
                    }else{
                        toastr["error"](resp.message, "Error")
                    }
                },
                complete: function(xhr) {
                    MyApp.loadingOverlay.hide();
                    try {
                        resp = JSON.parse(xhr.responseText);
                    } catch (e) {
                        alert('Something went wrong.');
                    }
                }
            });
       });
    });

    function updateStatusAll(status){
        updateStatus(getSelectedIds(), status, true);
    }

    // Handle delete action
    function deleteItem(id){
        $('#modal-delete-socmed').modal('show');
        $("#socmed_id").val(id);
        $('.modal-title').html('Delete Socmed');
        $('.modal-body').html('Are you sure you want to delete this item?');
    }

    // Handle update status action
    function updateStatus(id, status, reload){
        $.ajax({
            url: "/admin/information/socmed/"+id+"/updateStatus/"+status,
            type: 'POST',
            beforeSend: function() {
                $('#modal-delete-socmed').modal('hide');
                MyApp.loadingOverlay.show();
            },
            error: function(data ) {
                resp = JSON.parse(data.responseText);
                alert(resp.message);
            },
            success: function(resp) {
                $('#action option[value=""]').prop('selected', true);

                if(resp.meta.total != 0){
                    toastr["success"](resp.message, "Succes")
                    $('#action').hide();
                    if (reload){
                        table.ajax.reload();
                    }
                }else{
                    toastr["error"](resp.message, "Error")
                }
            },
            complete: function(xhr) {
                MyApp.loadingOverlay.hide();
                try {
                    resp = JSON.parse(xhr.responseText);
                } catch (e) {
                    alert('Something went wrong.');
                }
            }
        });
    }

    function getSelectedIds(){
        var dataId = "";
        var i = 0;
        table.$('.cb-action').each(function(){
            if(this.checked){
               if(i > 0)
                    dataId += ","+this.value;
               else dataId = this.value;
               i++;
            }
        });
        return dataId;
    }
</script>